@import '~antd/dist/antd.css';
.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex:1;
  flex-direction: column;
}
.output{
  width: inherit;
  height: inherit;
  border: 1px solid #AAAAAA;
  background-color: white;
}

.input-text{
  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
  font-size: 22px;
  border-right: 4px solid #2196F3;
  line-height: 30px;
  width: 90%;
}

.colorbar{
  width:10%;
  overflow-y: scroll;
}
.timebar{
  height: 100%;
  width:10%;
  display: inline-block;
  overflow-y: scroll;
  position: absolute;
  left: 0px;
}

[class*="col-"]{
    height:100%;
}
.color-code{
  display: inline-block;
  margin: 0 5px;
}
.color-code p{
  display: inline-flex;
  margin-left:2px;
}
.bottom{
  width: 100%;
  height:80%;
}
.top{
  width: 100%;
  height:16%;
}
